<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= user.following.count %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= user.followers.count %></th>
  </tr>
    <tr>
      <% if current_user.id != user.id %>
        <th>
          <% if current_user.following?(user) %>
            <%= link_to 'フォローを外す', relationship_path(current_user.active_relationships.find_by(followed_id: user.id)), method: :delete %>
          <% else %>
            <%= link_to 'フォローする', relationships_path(followed_id: user.id), method: :post %>
          <% end %>
          <% if current_user.following?(user) && user.following?(current_user) %>
            <% chat_room = ChatRoom.joins(:chat_room_users).where(chat_room_users: { user_id: [current_user.id, user.id] }).distinct.first_or_create %>
            <%= link_to 'チャットを始める', chat_room_path(chat_room) %>
          <% end %>
        </th>
    </tr>
  <% end %>

</table>
　
<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>