<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= user.following.count %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= user.followers.count %></th>
  </tr>
    <tr>
      <% if current_user.id != user.id %>
        <th>
          <% if current_user.following?(user) %>
            <%= link_to 'フォローを外す', relationship_path(current_user.active_relationships.find_by(followed_id: user.id)), method: :delete %>
          <% else %>
            <%= link_to 'フォローする', relationships_path(followed_id: user.id), method: :post %>
          <% end %>
        </th>
    </tr>
  <% end %>

</table>
　
<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>